.app{
 background-color: brown;
  height: 100vh;
  padding-top: 50px;
}
.container{
  background-color:#f8acac;
  padding: 30px 30px;
}
.MuiTypography-body1{
color: red;
font-size: 12px !important;
margin-top: 5px !important;
}